/* Unplay css */
@import '_components/variables';

/* Common css */
* {
  margin:0;
  padding:0;
}
html,body{
  height: 100%;
}
body{
  background-color: $body-background;
  font-family: $font-family;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

/* Player */
.player-body{
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  align-items: stretch;
}

// Main container
.player-container{
  background-color: $player-container-background;
  width: $player-container-width;
  display:flex;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: $player-container-shadow;

  // User interface, left side
  .player-ui{
    flex-basis: 75%;
    display:flex;
    align-items: flex-end;
    background-size: cover;
    flex-grow:1;
    background-position: 50% 50%;

    // Left side main container
    .player-information-container{
      flex-basis: 100%;
      flex-direction: column;

      // Status bar, where title etc are displayed
      .player-information{
        display:flex;
        flex-basis: 100%;
        background-color: $player-information-background-color;
        color: $player-information-text-color;
        margin-bottom: 25px;
        padding: 5px  15px;
        height: 110px;

        // Artist image
        .player-art{
          flex-grow: 1;
          flex-basis: 160px;
          flex-shrink: 0;
          background-color: $artist-image-background-color;
          margin-top: -31px;
          height:160px;

          img{
            width: 160px;
            border: $artist-image-image-border;
            border-radius: 3px;
            box-sizing: border-box;
            height:160px;
          }
        }

        // Current song information
        .player-artist-info{
          flex-grow: 1;
          flex-basis: 90%;
          display:flex;
          flex-direction: column;
          padding-left: 15px;

          .player-song-name{
            font-size: 21px;
            font-weight: 400;
            margin-bottom: 3px;
            height: 32px;
            width: 40vw;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .player-song-subinfo{
            font-size: 14px;
            font-weight: 400;
            margin: 0 0 1px;
          }
        }
      }

      // Controls bar, play pause stop next prev buttons container
      .player-controls-container {
        display:flex;
        background-color: $player-controls-bar-background;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: -moz-none;
        -o-user-select: none;
        user-select: none;

        // Buttons
        .controls{
          padding: 8px 8px 8px 20px;
          flex-basis: 140px;
          flex-shrink:0;

          .button-round{
            background-color: $player-controls-round-button-background;
            color: $player-controls-round-button-text-color;
            display:inline-block;
            text-align: center;
            border-radius: 500px;
            vertical-align: middle;
            box-shadow: 0 0 2px $player-controls-round-button-shadow;
            cursor: pointer;
            transition: background 0.3s ease, color 0.1s ease;

            &:hover{
              background-color: $player-controls-round-button-hover-background;
              color: $player-controls-round-button-hover-text-color;
            }

            &:active{
              background-color: $player-controls-round-button-active-background;
              color: $player-controls-round-button-active-text-color;
            }
          }
          .play{
            font-size:18px;
            text-align: center;
            height:40px;
            width: 40px;
            padding-top:6px;
            padding-left: 4px;
            box-sizing: border-box;
          }
          .pause{
            font-size:18px;
            text-align: center;
            height:40px;
            width: 40px;
            padding-top:6px;
            padding-left: 0px;
            box-sizing: border-box;
          }
          .backward{
            font-size:14px;
            text-align: center;
            height:25px;
            width: 25px;
            padding-top:2px;
            text-indent: -2px;
            box-sizing: border-box;
          }
          .forward{
            font-size:14px;
            text-align: center;
            height:25px;
            width: 25px;
            padding-top:2px;
            padding-left: 3px;
            box-sizing: border-box;
          }
          .stop{
            font-size:10px;
            text-align: center;
            height:25px;
            width: 25px;
            padding-top:5px;
            padding-left: 0px;
            box-sizing: border-box;
          }
        }

        // Seek bar
        .seek{
          flex-basis: 64%;
          position:relative;
          margin: 0 15px;
          flex-shrink: 2;
          cursor: pointer;
          .seek-bar {
            height: 2px;
            width:100%;
            position:absolute;
            top: 50%;
            background-color: $seek-bar-bg;
          }
          .seek-control {
            width: 10px;
            height:10px;
            border-radius: 500px;
            position: absolute;
            top: calc(50% - 4px);
            background-color: $seek-control-bg;
            box-shadow: $seek-control-shadow;
            cursor: pointer;
            left: calc(0% - 5px);
            transition: transform 0.3s ease;
          }
          &:hover, &:active{
            .seek-control{
              transform: scale(1.5);
            }
          }
        }

        // Volume controls
        .volume-icon {
          color: $volume-icon-color;
          padding-top: 16px;
          cursor: pointer;
        }
        .volume{
          flex-basis: 70px;
          position:relative;
          margin: 0 15px;
          flex-shrink:0;
          flex-grow: 1;
          cursor: pointer;

          .volume-bar {
            height: 2px;
            width:100%;
            position:absolute;
            top: 50%;
            background-color: $volume-bar-bg;
          }

          .volume-control {
            width: 10px;
            height:10px;
            border-radius: 500px;
            position: absolute;
            top: calc(50% - 4px);
            background-color: $volume-control-bg;
            box-shadow: $volume-control-shadow;
            cursor:pointer;
            transition: transform 0.3s ease;
          }

          &:hover, &:active{
            .volume-control {
              transform: scale(1.5);
            }
          }
        }
      }
    }

  }

  // Playlist side
  .player-playlist{
    flex-basis:340px;
    display:flex;
    flex-shrink: 0;
    flex-direction: column;
    background-color: $playlist-container-bg;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;

    // Search bar
    .player-playlist-search{
      padding: 10px 7px 0px;
      .search-input {
        border: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 7px 10px;
        font-family: $font-family;
        font-size: 16px;
      }
    }

    // Playlist list
    .player-playlist-list{
      margin-top: 10px;
      padding: 0 0 10px;
      height: 600px;
      overflow-y:auto;

      // List Single item
      .player-playlist-list-item{
        display:flex;
        color: $playlist-item-color;
        cursor: pointer;
        padding: 10px 5px;
        background-color: $playlist-item-bg-color;
        margin-bottom:1px;
        font-size: 14px;
        transition: background 0.3s ease;
        &:hover{
          background-color: $playlist-item-hover-bg-color;
        }
        &.active{
          background-color: $playlist-item-active-bg-color;
        }
        .playlist-item-icon{
          flex-basis: 40px;
          flex-shrink: 0;
          text-align: center;
        }
        .playlist-item-name{
          flex-basis: 240px;
          overflow:hidden;
          text-overflow: ellipsis;
        }
        .playlist-item-remove{
          flex-basis: 40px;
          flex-shrink: 0;
          text-align: center;
        }
      } //  -- End single item
    } // -- End playlist list container
  } // -- End playlist
} // -- End player Container

.player-status:not(.status-playing){
  .pause {
    display:none !important;
  }
}
.player-status.status-playing {
  .pause{
    display:inline-block !important;
  }
  .play {
    display:none !important;
  }
}