/* Unplay css */
/* Common css */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: #131418;
  font-family: "Titillium Web", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column; }

/* Player */
.player-body {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  align-items: stretch; }

.player-container {
  background-color: #5677fc;
  width: 1400px;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
  .player-container .player-ui {
    flex-basis: 75%;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    flex-grow: 1;
    background-position: 50% 50%; }
    .player-container .player-ui .player-information-container {
      flex-basis: 100%;
      flex-direction: column; }
      .player-container .player-ui .player-information-container .player-information {
        display: flex;
        flex-basis: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        margin-bottom: 25px;
        padding: 5px  15px;
        height: 110px; }
        .player-container .player-ui .player-information-container .player-information .player-art {
          flex-grow: 1;
          flex-basis: 160px;
          flex-shrink: 0;
          background-color: #455ede;
          margin-top: -31px;
          height: 160px; }
          .player-container .player-ui .player-information-container .player-information .player-art img {
            width: 160px;
            border: 5px solid rgba(255, 255, 255, 0.9);
            border-radius: 3px;
            box-sizing: border-box;
            height: 160px; }
        .player-container .player-ui .player-information-container .player-information .player-artist-info {
          flex-grow: 1;
          flex-basis: 90%;
          display: flex;
          flex-direction: column;
          padding-left: 15px; }
          .player-container .player-ui .player-information-container .player-information .player-artist-info .player-song-name {
            font-size: 21px;
            font-weight: 400;
            margin-bottom: 3px;
            height: 32px;
            width: 40vw;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
          .player-container .player-ui .player-information-container .player-information .player-artist-info .player-song-subinfo {
            font-size: 14px;
            font-weight: 400;
            margin: 0 0 1px; }
      .player-container .player-ui .player-information-container .player-controls-container {
        display: flex;
        background-color: #455ede;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: -moz-none;
        -o-user-select: none;
        user-select: none; }
        .player-container .player-ui .player-information-container .player-controls-container .controls {
          padding: 8px 8px 8px 20px;
          flex-basis: 140px;
          flex-shrink: 0; }
          .player-container .player-ui .player-information-container .player-controls-container .controls .button-round {
            background-color: #ecf0f1;
            color: #131418;
            display: inline-block;
            text-align: center;
            border-radius: 500px;
            vertical-align: middle;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
            cursor: pointer;
            transition: background 0.3s ease, color 0.1s ease; }
            .player-container .player-ui .player-information-container .player-controls-container .controls .button-round:hover {
              background-color: #131418;
              color: #ecf0f1; }
            .player-container .player-ui .player-information-container .player-controls-container .controls .button-round:active {
              background-color: #5677fc;
              color: #ecf0f1; }
          .player-container .player-ui .player-information-container .player-controls-container .controls .play {
            font-size: 18px;
            text-align: center;
            height: 40px;
            width: 40px;
            padding-top: 6px;
            padding-left: 4px;
            box-sizing: border-box; }
          .player-container .player-ui .player-information-container .player-controls-container .controls .pause {
            font-size: 18px;
            text-align: center;
            height: 40px;
            width: 40px;
            padding-top: 6px;
            padding-left: 0px;
            box-sizing: border-box; }
          .player-container .player-ui .player-information-container .player-controls-container .controls .backward {
            font-size: 14px;
            text-align: center;
            height: 25px;
            width: 25px;
            padding-top: 2px;
            text-indent: -2px;
            box-sizing: border-box; }
          .player-container .player-ui .player-information-container .player-controls-container .controls .forward {
            font-size: 14px;
            text-align: center;
            height: 25px;
            width: 25px;
            padding-top: 2px;
            padding-left: 3px;
            box-sizing: border-box; }
          .player-container .player-ui .player-information-container .player-controls-container .controls .stop {
            font-size: 10px;
            text-align: center;
            height: 25px;
            width: 25px;
            padding-top: 5px;
            padding-left: 0px;
            box-sizing: border-box; }
        .player-container .player-ui .player-information-container .player-controls-container .seek {
          flex-basis: 64%;
          position: relative;
          margin: 0 15px;
          flex-shrink: 2;
          cursor: pointer; }
          .player-container .player-ui .player-information-container .player-controls-container .seek .seek-bar {
            height: 2px;
            width: 100%;
            position: absolute;
            top: 50%;
            background-color: #5677fc; }
          .player-container .player-ui .player-information-container .player-controls-container .seek .seek-control {
            width: 10px;
            height: 10px;
            border-radius: 500px;
            position: absolute;
            top: calc(50% - 4px);
            background-color: #ecf0f1;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
            cursor: pointer;
            left: calc(0% - 5px);
            transition: transform 0.3s ease; }
          .player-container .player-ui .player-information-container .player-controls-container .seek:hover .seek-control, .player-container .player-ui .player-information-container .player-controls-container .seek:active .seek-control {
            transform: scale(1.5); }
        .player-container .player-ui .player-information-container .player-controls-container .volume-icon {
          color: #ecf0f1;
          padding-top: 16px;
          cursor: pointer; }
        .player-container .player-ui .player-information-container .player-controls-container .volume {
          flex-basis: 70px;
          position: relative;
          margin: 0 15px;
          flex-shrink: 0;
          flex-grow: 1;
          cursor: pointer; }
          .player-container .player-ui .player-information-container .player-controls-container .volume .volume-bar {
            height: 2px;
            width: 100%;
            position: absolute;
            top: 50%;
            background-color: #5677fc; }
          .player-container .player-ui .player-information-container .player-controls-container .volume .volume-control {
            width: 10px;
            height: 10px;
            border-radius: 500px;
            position: absolute;
            top: calc(50% - 4px);
            background-color: #ecf0f1;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
            cursor: pointer;
            transition: transform 0.3s ease; }
          .player-container .player-ui .player-information-container .player-controls-container .volume:hover .volume-control, .player-container .player-ui .player-information-container .player-controls-container .volume:active .volume-control {
            transform: scale(1.5); }
  .player-container .player-playlist {
    flex-basis: 340px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    background-color: #3d63fc;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none; }
    .player-container .player-playlist .player-playlist-search {
      padding: 10px 7px 0px; }
      .player-container .player-playlist .player-playlist-search .search-input {
        border: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 7px 10px;
        font-family: "Titillium Web", sans-serif;
        font-size: 16px; }
    .player-container .player-playlist .player-playlist-list {
      margin-top: 10px;
      padding: 0 0 10px;
      height: 600px;
      overflow-y: auto; }
      .player-container .player-playlist .player-playlist-list .player-playlist-list-item {
        display: flex;
        color: #ecf0f1;
        cursor: pointer;
        padding: 10px 5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin-bottom: 1px;
        font-size: 14px;
        transition: background 0.3s ease; }
        .player-container .player-playlist .player-playlist-list .player-playlist-list-item:hover {
          background-color: rgba(0, 0, 0, 0.3); }
        .player-container .player-playlist .player-playlist-list .player-playlist-list-item.active {
          background-color: #131418; }
        .player-container .player-playlist .player-playlist-list .player-playlist-list-item .playlist-item-icon {
          flex-basis: 40px;
          flex-shrink: 0;
          text-align: center; }
        .player-container .player-playlist .player-playlist-list .player-playlist-list-item .playlist-item-name {
          flex-basis: 240px;
          overflow: hidden;
          text-overflow: ellipsis; }
        .player-container .player-playlist .player-playlist-list .player-playlist-list-item .playlist-item-remove {
          flex-basis: 40px;
          flex-shrink: 0;
          text-align: center; }

.player-status:not(.status-playing) .pause {
  display: none !important; }

.player-status.status-playing .pause {
  display: inline-block !important; }
.player-status.status-playing .play {
  display: none !important; }

/*# sourceMappingURL=layout.css.map */
