$primary-color: #455ede;
$accent-color: #5677fc;
$secondary-color-light: #ecf0f1;
$secondary-color-dark: #131418;

$font-family: 'Titillium Web', sans-serif;
$body-background: $secondary-color-dark;

$player-container-background: $accent-color;
$player-container-width: 1400px;
$player-container-shadow: 0 0 20px rgba(0,0,0,0.5);

$player-information-background-color: rgba(0,0,0,0.7);
$player-information-text-color: #fff;

$artist-image-background-color: $primary-color;
$artist-image-image-border: 5px solid rgba(255,255,255,0.9);

$player-controls-bar-background: $primary-color;

$player-controls-round-button-background: $secondary-color-light;
$player-controls-round-button-text-color: $secondary-color-dark;
$player-controls-round-button-shadow: rgba(0,0,0,0.5);
$player-controls-round-button-hover-background: $secondary-color-dark;
$player-controls-round-button-hover-text-color: $secondary-color-light;
$player-controls-round-button-active-background: $accent-color;
$player-controls-round-button-active-text-color: $secondary-color-light;


$seek-bar-bg: $accent-color;
$seek-control-bg: $secondary-color-light;
$seek-control-shadow: 0 0 3px rgba(0,0,0,0.6);

$volume-icon-color: $secondary-color-light;
$volume-bar-bg: $seek-bar-bg;
$volume-control-bg: $seek-control-bg;
$volume-control-shadow: 0 0 3px rgba(0,0,0,0.6);

$playlist-container-bg: darken($accent-color, 5);
$playlist-item-color: $secondary-color-light;
$playlist-item-bg-color: rgba(0,0,0,0.2);
$playlist-item-hover-bg-color: rgba(0,0,0,0.3);
$playlist-item-active-bg-color: $secondary-color-dark;