$font-family: 'Titillium Web', sans-serif;
$body-background: #607D8B;

$player-container-background: #607D8B;
$player-container-width: 1400px;
$player-container-shadow: 0 0 20px rgba(0,0,0,0.5);

$player-information-background-color: rgba(0,0,0,0.7);
$player-information-text-color: #fff;

$artist-image-background-color: #0d47a1;
$artist-image-image-border: 5px solid rgba(255,255,255,0.9);

$player-controls-bar-background: #0D47A1;

$player-controls-round-button-background: #fff;
$player-controls-round-button-text-color: #1565C0;
$player-controls-round-button-shadow: rgba(0,0,0,0.5);
$player-controls-round-button-hover-background: #03a9f4;
$player-controls-round-button-hover-text-color: #fff;
$player-controls-round-button-active-background: #1565c0;
$player-controls-round-button-active-text-color: #fff;


$seek-bar-bg: #fff;
$seek-control-bg: #fff;
$seek-control-shadow: 0 0 3px rgba(0,0,0,0.6);

$volume-icon-color: #fff;
$volume-bar-bg: #fff;
$volume-control-bg: #fff;
$volume-control-shadow: 0 0 3px rgba(0,0,0,0.6);

$playlist-container-bg: #1565C0;
$playlist-item-color: #fff;
$playlist-item-bg-color: rgba(0,0,0,0.2);
$playlist-item-hover-bg-color: rgba(0,0,0,0.3);
$playlist-item-active-bg-color: rgba(0,0,0,0.5);